@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  border-left: none;
  border-right: none;}

/* Contenedor principal */
.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  border-left: none;
  border-right: none;
  overflow-x: hidden;
}

/* =========================
   CONTENIDO PRINCIPAL
========================= */

.main-content {
  font-family: "Poppins", sans-serif;
  flex: 1;
  padding: 30px;
  min-height: 100vh;
  overflow-y: auto;
  border-left: none;
  border-right: none;
  overflow-x: hidden;
}